<script type="text/javascript" src="api.js"></script>

  <div id="tabs">
    <div class="tab left grey border selected" id ="show">Show</div>
    <div class="tab margin-left left grey border" id ="create-or-update">Create or Update</div>
    <div class="tab margin-left left grey border" id="delete">Delete</div>
    <div style="clear: both"></div>
  </div>

  <div id="contents" class="grey border">
    Loading...
  </div>
  
</div>