<header>
  <h1>Wellness Tracker</h1>
  <nav>
    <ul>
      <li><a href = "/home">home </a></li>
    </ul>
  </nav>
</header>


<div id ="primary">
  <h1>Oops!</h1>
  <p>This page doesn't exist.  Hit the back key.  Try again.</p>
  <img src = "http://dontworry.tv/wp-content/uploads/2013/03/tumblr_me1qwvygQB1qltpzto1_1280.jpg" />
</div>